@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    h1,p,input{
        padding: 0;
        margin: 0;
    }
}
$primary: rgba(244, 224, 65, 1);
$secondary: rgba(0, 189, 211, 1);
$backgroundcolor: rgba(248, 248, 248, 1);
$font: 'Nunito', sans-serif;
header{
    height: 60px;
    max-width: 360px;
    background-color: white;
    display: flex !important; 
    align-items: center;
    justify-content: space-between;
    padding: 0 16px 0 16px ;
}
.field{
    width: 360px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background:  linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/pexels-alexandr-podvalny-1227513.jpeg);
    background-size: cover;
    color: white;
    h1{
        margin: 40px 0 21px 0;
        width: 328px;
        height: 120px;
        display: flex;
        justify-content: center;
        font-size: 40px;
        text-align:center;
        line-height: 40px;
        font-family: $font;
    }
    >p{
        margin: 0 0 32px 0;
        width: 328px;
        height: 182px;
        font-family: $font;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
    }
    >button{
        width: 100px;
        height: 34px;
        border-radius: 20px;
        font-family: $font;
        background-color: $primary;
    }
    
}
.get{
    padding-top: 140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $backgroundcolor;
    >h1{
        text-align: center;
        font-family: $font;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 50px;
    }
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        font-family: $font;
        background-color: white;
        border-radius: 10px;
        width: 328px;
        max-height: 254px;
        padding: 20px 0 20px 0;
        margin-bottom: 20px;
        text-align: center;
        text-overflow: ellipsis;
        >p{
            font-size: 16px;
            line-height: 26px;
            max-width: 242px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            
        }
        >img{
            width: 70px;
            height: 70px;
            border-radius: 35px;
            margin-bottom: 20px;
        }
        >.name{
            margin-bottom: 20px;
            
        }
        .phone{
            margin: 0;
        }
    }
}
.post{
    display: flex;
    // flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    
    >h1{
        margin: 140px 0 50px 0;
        width: 328px;
        height: 80px;
        display: flex;
        justify-content: center;
        font-size: 40px;
        text-align:center;
        line-height: 40px;
        font-family: $font;
    }
    .Form{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        >.inpText{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 328px;
            height: 258px;
            >input{
                height: 54px;
            }
        }
        >.inpRadio{
            display: flex;
            flex-wrap: wrap;
            height: 161px;
            width: 328px;
            >input{
                width: 100%;
            }
        }
    }
}